<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noob.commonSqlQuery.CommonAdmMapper">


    <select id="query" resultType="java.util.Map">
        select
        <choose>
            <when test=" queryModel.selectColumnList != null and queryModel.selectColumnList.size > 0">
                <foreach collection=" queryModel.selectColumnList" item="column" separator=","> t.${column}</foreach>
            </when>
            <otherwise>t.*</otherwise>
        </choose>
        from ${table} t

        <if test=" queryModel.filterConditionList != null and queryModel.filterConditionList.size > 0 ">
            <where>
                <foreach collection=" queryModel.filterConditionList" item="condition">

                    and ${condition.column}

                    <choose>
                        <when test=" condition.type == 2"> <![CDATA[ < ]]> #{condition.value} </when>
                        <when test=" condition.type == 3"> <![CDATA[ <= ]]> #{condition.value} </when>
                        <when test=" condition.type == 4"> > #{condition.value} </when>
                        <when test=" condition.type == 5"> >= #{condition.value} </when>
                        <when test=" condition.type == 6"> like concat('%',#{condition.value},'%') </when>
                        <when test=" condition.type == 7"> in (${condition.value}) </when>
                        <when test=" condition.type == 8"> is not null </when>
                        <when test=" condition.type == 9"> is null 9 </when>
                        <otherwise> = #{condition.value} </otherwise>
                    </choose>

                </foreach>

            </where>
        </if>

        <if test="queryModel.sortConditionList != null and queryModel.sortConditionList.size > 0 ">order by
            <foreach collection="queryModel.sortConditionList" item="condition" separator=",">
                ${condition.order} ${condition.sort}
            </foreach>
        </if>

    </select>


</mapper>