<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="log.dir" value="/admin/noob/logs" />
	<property name="projectname" value="loan" />

	<!--格式化输出：%d:表示日期 %thread:表示线程名 %F:类名 %L:行数 %M:方法名 %logger{5}:全路径缩写 %-5level:级别从左显示5个字符宽度 
		%msg:日志消息 %n:是换行符 -->
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%F:%M:%L] [trace=%X{X-B3-TraceId:-},span=%X{X-B3-SpanId:-},parent=%X{X-B3-ParentSpanId:-}] %logger{5} - %msg%n" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder charset="UTF-8">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>




	<logger name="org.apache" value="INFO" />
	<logger name="org.springframework" value="INFO" />
	<logger name="com.alibaba.dubbo" value="INFO" />


	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>